<% provide :title, "About" %>
<h1><%= t"footer.about" %></h1>
<p>
  <%= t "footer.the" %> <a href="http://www.railstutorial.org/"><em><%= t"about.ruby" %></em></a><%= t "about.isA" %>
  <a href="http://www.railstutorial.org/book"><%= t "about.book" %>></a> <%= t"about.and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t "about.broadcast" %></a>
  <%=t "about.webdevelop" %>
  <a href="http://rubyonrails.org/"><%= t"about.ror" %></a>.
  <%=t "about.sample" %>
</p>

